
body {
  font-family: 'Marcellus', serif;
  background-color: rgb(193, 230, 247);
}

table {
  border-collapse: collapse;
  border-radius: 10px;
}

table.party-guests {
  width: 400px;
}

#ppl th, td {
  border: 3px solid rgb(193, 230, 247);
  border-radius: 10px;
  padding: 10px;
}

#ppl tr:nth-child(even){
  background-color: #95adf1;
}

tbody tr:nth-child(odd){
  background-color: #c5d2f5;
}

tr:hover {
  background-color: #d5d5da;
}

#ppl thead {
  background-color: darkviolet;
  color: aliceblue;
}

.friend {
  text-align: right;
}

