
body {
  font-family: 'Marcellus', serif;
  background-color: rgb(193, 230, 247);
}

table, th, td {
  border: 1px solid rgb(15, 6, 144);
}

table {
  border-collapse: collapse;
  width: 400px;
}

th, td {
  padding: 15px;
}

.friend {
  text-align: right;
}

